body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  padding: 3px 20px;
  position: fixed;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  box-shadow: 1px 0px 7px 1px #cdcdcd;
  z-index: 100;
  background-color: #fff;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 75px;
}

.table {
  border: 1px solid #eeeeee;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
  border-radius: 2px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #eee;
}

.footer{
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: #e6e2e2;
  padding: 15px;
  justify-content: center;
}
.panel {
  border-color: #fafafa;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: #fff;
  margin: 0 0 32px 0;
}
.panel-header {
  color: #9e9e9e;
  background-color: #fafafa;
  border-color: #fafafa;
  padding: 0px 16px 0px 16px;
  line-height: 48px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom: 1px solid transparent;
}
.panel-body {
  width: 100%;
  position: relative;
  background-color: #fff;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.panel-footer {
  padding: 16px;
  background-color: #fafafa;
  border-radius: 0 0 2px 2px;
}

.add-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: transparent;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  justify-items: center;
  z-index: 1005;
}

.overlay-wrapper {
  position: relative;
  align-self: center;
  width: 60%;
  height: 60%;
}

.overlay {
  position: relative;
  width: 100%;
  border-radius: 2px;
  background-color: #fff;
}
.overlay-header {
  padding: 7px 20px;
  align-items: center;
  font-size: 18px;
  border-bottom: 1px solid #eeeeee;
}
.overlay-body {
  padding: 20px;
}

.add-overlay-background {
    position: absolute;
    top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.6;
}
.overlay-footer {
  border-top: 1px solid #eeeeee;
  position: relative;
  bottom: 0;
  padding: 10px 20px;
}

.btn {
  padding: 5px 10px;
  border-width: 1px;
  border-radius: 3px;
}

.btn-danger {
  color: #f98989;
  background-color: #fff;
  border: 1px solid #f98989
}

.input-label {
  color: #696868;
 font-size: 14px;
  margin-bottom: 8px;
}

.input-style {
  font-size: 14px;
  padding: 6px;
  border-radius: 2px;
  border: 1px solid #9e9e9e;
}
